@model List<DojoSurvey.Models.User>
@* @using DojoSurvey.Models
@model List<User> *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DojoSurvey: Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="w-50 mt-5 mx-auto p-4 border rounded shadow d-flex flex-wrap">
        <h1 class="col-12 mb-3">Submitted Info</h1>
        
        @foreach (var user in Model)
        {
            <p class="col-6">@user.FirstName @user.LastName</p>
        }
    </div>
</body>
</html>