<h1 class="text-success display-3">
    Success!
</h1>
<h2 class="display-4">
    Welcome, <span class="text-primary">@Context.Session.GetString("FirstName")</span> (@Context.Session.GetInt32("UserId")).
</h2>