<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center">Welcome to the Great Number Game!</h1>
    <h2 class="text-center">I am thinking of a number between 1 and 100</h2>
    <h2 class="text-center">Take a guess!</h2>
    <!-- <h3 class="text-center">Hint: the number is {{ session["number"] }}</h3> -->
    {{ prompt|safe }}
    <form action="/guess" method="post">
        <input type="text" name="guesser" id="guesser" class="d-block mx-auto">
        <input type="submit" name="submit_button" value="Submit Guess" class="d-block mx-auto">
    </form>
</body>
</html>