@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>
<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>Check out some recent dishes!</p>
<hr>
<div class="text-center">
    @foreach (var dish in Model)
    {
        <p><a href="/@dish.DishId">@dish.Name</a> by @dish.Chef</p>
    }
</div>
