.App {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.App form {
  width: 100%;
}
label {
  margin: .5rem;
}

input {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;

  font-size: 1rem;
  line-height: 1.5;

  padding: .375rem .75rem;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;

  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  user-select: none;

  border: 1px solid transparent;
  margin: .5rem;
  padding: .375rem .75rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:not(:disabled) {
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}