<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Show</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        * {
            /* outline: 1px solid red; */
            /* border: 1px solid blue; */
        }
    </style>
</head>
<body>
    <div class="container px-5 mt-5">
        <div class="row px-5">
            <div class="col">
                <h1 class="mb-5">/dojos/{{dojo_id}}</h1>
            </div>
        </div>
        <div class="row px-5">
            <div class="col-6">
                <h2 class="mb-5">{{dojo_name}} Ninjas</h2>
                <table class="table table-primary table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for one_ninja in all_ninjas %}
                        <tr>
                            <th scope="row">{{one_ninja.dojo_id}}</th>
                            <td>{{one_ninja.first_name}}</td>
                            <td>{{one_ninja.last_name}}</td>
                            <td>{{one_ninja.age}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="/">Home</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>