<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page | Projects</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <nav><a href="/">Home</a> | <a href="/projects" aria-current="page">Projects</a> | <a href="/contact">Contact</a></nav>
    <h1>Here are some projects of mine!</h1>
    <div class="main-container">
        <div class="project-item">
            <div class="project-img">X</div>
            <div class="project-desc">
                <h3>Cool thing!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, voluptates.</p>
            </div>
        </div>
        <div class="project-item">
            <div class="project-img">X</div>
            <div class="project-desc">
                <h3>Cool thing!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, consequatur!</p>
            </div>
        </div>
        <div class="project-item">
            <div class="project-img">X</div>
            <div class="project-desc">
                <h3>Cool thing!</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, ratione!</p>
            </div>
        </div>
    </div>
</body>
</html>